.wrap {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header {
  border-bottom: 4px solid $second;
}
.header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

@media (max-width: 892px) {
  .header__wrap {
    flex-direction: colu;
    justify-content: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
